body {
  background-color: rgb(191, 139, 240, 1);
}

.movie-poster {
  width: 880px;
  height: 500px;
  border-radius: 50px;
}

.movie-name {
  background-color: black;
  color: aliceblue;
}

body{
  font-family: serif;
}